<div ng-controller="FixedShrinkApp as vm" layout="column" style="height:500px" ng-cloak>

  <md-toolbar md-scroll-shrink md-scroll-shrink-fixed class="md-hue-2">
    <div class="md-toolbar-tools">
      <h3>
        <span>{{vm.title}}</span>
      </h3>
    </div>
    <div class="md-toolbar-tools md-hue-3">
      <h4>
        <span>{{vm.subtitle}}</span>
      </h4>
    </div>
  </md-toolbar>

  <md-content flex layout-padding>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis reprehenderit error temporibus dicta, cum, distinctio. Cumque illo excepturi, itaque blanditiis nam vel laborum, ratione aliquam, recusandae aspernatur nobis fugiat repudiandae!</p>
    <p>Quidem inventore iusto totam quam nulla voluptatum quibusdam ea culpa recusandae soluta eligendi amet aliquam unde beatae, accusantium sapiente suscipit veniam perferendis ad a consequatur! Tenetur, cumque quis consequuntur pariatur!</p>
    <p>Placeat, consequuntur asperiores recusandae praesentium iste nemo dolorem numquam veniam illum a in, suscipit, sapiente quisquam quis exercitationem nesciunt molestias et nostrum inventore aspernatur eius deleniti. Sed, natus vero optio!</p>
    <p>Eaque soluta repellendus, iusto obcaecati illum aliquam corrupti tenetur unde consequatur recusandae, cum magnam sint, molestiae numquam. Illo voluptates consequatur fugit, reiciendis adipisci saepe laboriosam architecto, quasi blanditiis necessitatibus autem.</p>
    <p>Ad assumenda rem quasi maxime consectetur odio cumque tempore natus deserunt optio dolorum, atque minima voluptatibus? Omnis repudiandae maiores, quasi doloremque. Rerum quaerat nemo, laboriosam quisquam culpa laborum sunt quasi!</p>
    <p>Reiciendis minus nostrum doloribus, autem vero quos sequi magnam iste voluptates consequatur ratione dolore aliquam, aut. Repellat sequi quas, asperiores corporis, iusto dolores autem temporibus quibusdam blanditiis, a incidunt sed.</p>
    <p>Assumenda dolore quo sit voluptatem, eveniet laudantium accusamus sunt, quisquam. Vitae commodi aliquid totam et quaerat, quas cumque, placeat cum perspiciatis eum recusandae laudantium architecto delectus. Ratione esse vero in?</p>
    <p>Eveniet dolorem, voluptates tempore nemo provident ab dignissimos blanditiis dolores unde aliquam, autem quae. Ex voluptas consequatur odit, ea doloribus possimus. Rem sequi ut sed quo odio assumenda consequatur, ducimus.</p>
    <p>Magnam, eaque commodi molestias esse voluptatem quam alias accusamus, ex fugit atque natus ab laborum! Dolore tenetur, accusantium quod dolor, excepturi porro corporis cupiditate fugit? Amet numquam modi beatae facere.</p>
    <p>Ab quae reprehenderit velit porro quisquam cum hic eum perspiciatis ullam, iure sequi pariatur distinctio beatae laudantium non officiis officia earum recusandae ad dolores sit placeat facere. In, corporis, eum!</p>
    <p>Quas obcaecati voluptatibus possimus molestiae commodi ipsum in dolores ea reprehenderit soluta maxime, autem iusto delectus, rem repellendus dolore, non aliquid est cum, fuga laudantium nobis quam. Ad, adipisci quisquam?</p>
    <p>Sit ipsum odio, possimus vel, accusamus incidunt sed doloremque impedit dolore qui hic magnam ducimus tempora animi! Pariatur distinctio, consequuntur minus adipisci dignissimos molestiae, architecto ad quaerat, ducimus est natus.</p>
    <p>Ut autem tenetur necessitatibus ab voluptatum officia, illo deleniti inventore commodi excepturi maiores iste quibusdam saepe totam itaque ad sequi earum. Ratione, atque saepe nulla ducimus voluptatem dolores voluptates debitis.</p>
    <p>Quam maiores, veniam saepe nulla eveniet molestias, beatae iste possimus pariatur asperiores nostrum fuga cupiditate reprehenderit deserunt mollitia praesentium. Velit pariatur dolores vero quam sint minima sed officia labore illum!</p>
    <p>Architecto velit minus mollitia animi culpa ipsam ipsum possimus, temporibus laborum laudantium facilis consequuntur fugiat deleniti, officia nobis iure dolorum repudiandae consequatur, pariatur dolor at soluta ad quia, neque debitis?</p>
    <p>Nesciunt, vitae eligendi, molestiae aut facilis nisi neque fugit? Assumenda illum, natus, dolor quod eos doloribus deserunt ea amet repellat culpa beatae sit quo corporis magnam veniam eius repellendus adipisci.</p>
    <p>Veniam tenetur, nam? Animi minima excepturi provident quibusdam tempore ea, doloribus nobis libero sit pariatur maiores temporibus iusto voluptas impedit quidem nisi labore quisquam nam accusamus fugit quaerat sint ipsam.</p>
    <p>Ea vitae debitis aliquam magni exercitationem, soluta dolorum voluptas molestias expedita, beatae! Omnis ad modi laborum animi doloremque, quidem nisi, at in dolorem nemo maxime, id quos sapiente placeat ratione.</p>
    <p>Fugiat possimus laborum, culpa. Quidem, accusantium saepe quaerat, nemo minus dolorem nesciunt quam! Earum ratione quia, laborum quo minus, officia doloribus alias? Quam obcaecati omnis, expedita vel optio pariatur dolore!</p>
    <p>Delectus dolor perferendis debitis dicta est placeat cum, vitae fugiat neque, ipsa, nam laborum ipsam error quidem sit sapiente dignissimos quia totam nisi ullam repellat? Asperiores, accusamus! Quis dicta, esse.</p>
    <p>Voluptas neque minima possimus laudantium quidem unde quibusdam obcaecati, exercitationem vero esse in, reprehenderit veniam rem praesentium ipsum? Nemo, aliquam ab mollitia, molestias optio commodi cupiditate doloribus incidunt architecto magni?</p>
    <p>Voluptatem perspiciatis numquam eum doloremque facilis eius molestiae quam voluptatum libero accusantium quae provident quas quasi magni, facere praesentium, commodi quidem hic iure impedit totam aut in, quaerat cumque. Soluta?</p>
    <p>Obcaecati vero ratione vel facilis, ullam porro? Labore, ipsam architecto fugiat blanditiis autem. Nisi voluptatibus porro quis autem deserunt perspiciatis voluptatem temporibus saepe exercitationem! Ex eos commodi dolor quae, repudiandae.</p>
    <p>Enim eum nihil eligendi, voluptatum cum ipsam quos voluptate. Nemo est maiores voluptatem, perferendis. Tempora similique pariatur fugiat quod expedita reiciendis modi, doloremque voluptatem, molestias laborum reprehenderit error? Praesentium, fugit.</p>
    <p>Vitae quis exercitationem nesciunt atque officiis, cumque, minima consequatur provident amet pariatur adipisci, cum rerum nisi culpa! Iste quis neque sapiente nesciunt voluptatibus ipsa nisi, harum distinctio. Minus, facere, adipisci?</p>
    <p>Alias a perferendis officia ipsam aperiam, necessitatibus atque debitis unde voluptate iusto tempore saepe repellat quidem excepturi dolore accusantium suscipit placeat deserunt repudiandae! Asperiores possimus eum culpa totam inventore quibusdam.</p>
  </md-content>

</div>
